/**
 * Styles for HM Juicer masonry layout.
 */

.juicer-grid {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
	grid-auto-rows: 0;

	&__item {
		opacity: 1;
		transition: opacity 1s ease-in-out;
		height: auto;

		&.hide {
			opacity: 0;
			height: 0;
		}
	}
}

.juicer-post {
	background: $light;
	color: $dark;
	display: flex;
	flex-flow: column;
	position: relative;

	&__header,
	&__sharing {
		align-items: center;
		color: lighten( $dark, 30% );
		display: flex;
		font-size: 0.9rem;
		justify-content: space-between;
		padding: 0.75em;
		position: relative;
	}

	&__author {
		align-items: center;
		color: $dark;
		display: flex;
		font-weight: 700;

		a {
			display: inline-flex;
			margin-right: 0.75em;
			z-index: 2;

			&:before {
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}

			&:hover,
			&:focus {
				opacity: 0.7;
				transition: opacity 0.3s ease;

				+ .juicer-post__author__name {
					color: lighten( $dark, 30% );
					transition: color 0.3s ease;
				}
			}
		}

		img {
			height: 2em;
			overflow: hidden;
			width: 2em;
		}
	}

	&__image {
		max-width: 100%;
		width: 100%;
	}

	&__content,
	&__sharing {
		padding: 0.75em 1em;
	}

	&__content {
		margin-bottom: auto;

		a {
			text-decoration: underline;
			z-index: 1;
		}
	}

	&__sharing-link {
		display: inline-block;

		&:before {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:after {
			content: "\203A";
			display: inline-block;
			line-height: 1;
			margin-left: 0.2em;
		}
	}

	&__likes {
		margin-left: 1em;
		margin-right: auto;
	}

	.juicer-icon {
		display: block;
		position: relative;
		z-index: 2;

		svg {
			color: lighten( $dark, 55% );
			margin-right: 0.1em;

			&.fa-2x {
				font-size: 1.5em;
			}
		}

		&:hover,
		&:focus {
			color: $dark;

			svg {
				color: lighten( $dark, 30% );
				transition: color 0.3s ease;
			}

			.juicer-icon__tooltip {
				background-color: lighten( $dark, 30% );
				border-radius: 4px;
				bottom: calc( 100% + 0.75em );
				box-shadow: 4px 4px 6px 0 rgba($dark, 0.16);
				clip: unset;
				clip-path: unset;
				color: $light;
				height: unset;
				left: -1.5em;
				overflow: unset;
				padding: 0.5em;
				width: max-content;

				&:after {
					border-width: 5px;
					border-style: solid;
					border-color: lighten( $dark, 30% ) transparent transparent transparent;
					content: "";
					left: 1.75em;
					position: absolute;
					top: 100%;
				}
			}
		}

		&:last-child:hover,
		&:last-child:focus {
			.juicer-icon__tooltip {
				left: unset;
				right: -1.5em;

				&:after {
					left: unset;
					right: 1.75em;
				}
			}
		}
	}

	&__source__link.juicer-icon {
		margin: -0.75em -1em;
		padding: 0.75em 1em;

		&:last-child:hover,
		&:last-child:focus {
			.juicer-icon__tooltip {
				bottom: calc( 100% + 0.25em );
				right: -0.5em;
			}
		}
	}
}

.juicer-feed {
	&__load-more {
		margin: 1em auto;
	}

	&__loading {
		background: url( './svg/loading.svg' ) no-repeat center;
		opacity: 0;
		height: 0px;
		width: 50px;
		margin: 0;
		transition: opacity .50s ease-in-out;

		&.loading {
			height: 50px;
			margin: 1em auto;
			opacity: .5;
		}
	}
}
